@import './variables.css';

/* -----------------------------------------------------------------------------
 * Floats
 * -------------------------------------------------------------------------- */

.clearfix::after {
  display: table;
  clear: both;
  content: ' ';
}

.pull--left {
  float: left;
}

.pull--right {
  float: right;
}


/* -----------------------------------------------------------------------------
 * Lists
 * -------------------------------------------------------------------------- */

.list-unstyled {
  padding-left: 0;
  list-style: none;
}


/* -----------------------------------------------------------------------------
 * Scrollable
 * -------------------------------------------------------------------------- */

.scrollable--y {
  max-height: 100%;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable--x {
  max-width: 100%;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}


/* -----------------------------------------------------------------------------
 * Spacing
 * -------------------------------------------------------------------------- */

/* Margin */

.m-top--none {
  margin-top: 0;
}

.m-right--none {
  margin-right: 0;
}

.m-bottom--none {
  margin-bottom: 0;
}

.m-left--none {
  margin-left: 0;
}

.m-vertical--none {
  margin-top: 0;
  margin-bottom: 0;
}

.m-horizontal--none {
  margin-right: 0;
  margin-left: 0;
}

.m-around--none {
  margin: 0;
}

.m-top--xxx-small {
  margin-top: .125rem;
}

.m-right--xxx-small {
  margin-right: .125rem;
}

.m-bottom--xxx-small {
  margin-bottom: .125rem;
}

.m-left--xxx-small {
  margin-left: .125rem;
}

.m-vertical--xxx-small {
  margin-top: .125rem;
  margin-bottom: .125rem;
}

.m-horizontal--xxx-small {
  margin-right: .125rem;
  margin-left: .125rem;
}

.m-around--xxx-small {
  margin: .125rem;
}

.m-top--xx-small {
  margin-top: .25rem;
}

.m-right--xx-small {
  margin-right: .25rem;
}

.m-bottom--xx-small {
  margin-bottom: .25rem;
}

.m-left--xx-small {
  margin-left: .25rem;
}

.m-vertical--xx-small {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.m-horizontal--xx-small {
  margin-right: .25rem;
  margin-left: .25rem;
}

.m-around--xx-small {
  margin: .25rem;
}

.m-top--x-small {
  margin-top: .5rem;
}

.m-right--x-small {
  margin-right: .5rem;
}

.m-bottom--x-small {
  margin-bottom: .5rem;
}

.m-left--x-small {
  margin-left: .5rem;
}

.m-vertical--x-small {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.m-horizontal--x-small {
  margin-right: .5rem;
  margin-left: .5rem;
}

.m-around--x-small {
  margin: .5rem;
}

.m-top--small {
  margin-top: .75rem;
}

.m-right--small {
  margin-right: .75rem;
}

.m-bottom--small {
  margin-bottom: .75rem;
}

.m-left--small {
  margin-left: .75rem;
}

.m-vertical--small {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.m-horizontal--small {
  margin-right: .75rem;
  margin-left: .75rem;
}

.m-around--small {
  margin: .75rem;
}

.m-top--medium {
  margin-top: 1rem;
}

.m-right--medium {
  margin-right: 1rem;
}

.m-bottom--medium {
  margin-bottom: 1rem;
}

.m-left--medium {
  margin-left: 1rem;
}

.m-vertical--medium {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-horizontal--medium {
  margin-right: 1rem;
  margin-left: 1rem;
}

.m-around--medium {
  margin: 1rem;
}

.m-top--large {
  margin-top: 1.5rem;
}

.m-right--large {
  margin-right: 1.5rem;
}

.m-bottom--large {
  margin-bottom: 1.5rem;
}

.m-left--large {
  margin-left: 1.5rem;
}

.m-vertical--large {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-horizontal--large {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.m-around--large {
  margin: 1.5rem;
}

.m-top--x-large {
  margin-top: 2rem;
}

.m-right--x-large {
  margin-right: 2rem;
}

.m-bottom--x-large {
  margin-bottom: 2rem;
}

.m-left--x-large {
  margin-left: 2rem;
}

.m-vertical--x-large {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-horizontal--x-large {
  margin-right: 2rem;
  margin-left: 2rem;
}

.m-around--x-large {
  margin: 2rem;
}

.m-top--xx-large {
  margin-top: 3rem;
}

.m-right--xx-large {
  margin-right: 3rem;
}

.m-bottom--xx-large {
  margin-bottom: 3rem;
}

.m-left--xx-large {
  margin-left: 3rem;
}

.m-vertical--xx-large {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m-horizontal--xx-large {
  margin-right: 3rem;
  margin-left: 3rem;
}

.m-around--xx-large {
  margin: 3rem;
}


/* Padding */

.p-top--none {
  padding-top: 0;
}

.p-right--none {
  padding-right: 0;
}

.p-bottom--none {
  padding-bottom: 0;
}

.p-left--none {
  padding-left: 0;
}

.p-vertical--none {
  padding-top: 0;
  padding-bottom: 0;
}

.p-horizontal--none {
  padding-right: 0;
  padding-left: 0;
}

.p-around--none {
  padding: 0;
}

.p-top--xxx-small {
  padding-top: .125rem;
}

.p-right--xxx-small {
  padding-right: .125rem;
}

.p-bottom--xxx-small {
  padding-bottom: .125rem;
}

.p-left--xxx-small {
  padding-left: .125rem;
}

.p-vertical--xxx-small {
  padding-top: .125rem;
  padding-bottom: .125rem;
}

.p-horizontal--xxx-small {
  padding-right: .125rem;
  padding-left: .125rem;
}

.p-around--xxx-small {
  padding: .125rem;
}

.p-top--xx-small {
  padding-top: .25rem;
}

.p-right--xx-small {
  padding-right: .25rem;
}

.p-bottom--xx-small {
  padding-bottom: .25rem;
}

.p-left--xx-small {
  padding-left: .25rem;
}

.p-vertical--xx-small {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.p-horizontal--xx-small {
  padding-right: .25rem;
  padding-left: .25rem;
}

.p-around--xx-small {
  padding: .25rem;
}

.p-top--x-small {
  padding-top: .5rem;
}

.p-right--x-small {
  padding-right: .5rem;
}

.p-bottom--x-small {
  padding-bottom: .5rem;
}

.p-left--x-small {
  padding-left: .5rem;
}

.p-vertical--x-small {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.p-horizontal--x-small {
  padding-right: .5rem;
  padding-left: .5rem;
}

.p-around--x-small {
  padding: .5rem;
}

.p-top--small {
  padding-top: .75rem;
}

.p-right--small {
  padding-right: .75rem;
}

.p-bottom--small {
  padding-bottom: .75rem;
}

.p-left--small {
  padding-left: .75rem;
}

.p-vertical--small {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.p-horizontal--small {
  padding-right: .75rem;
  padding-left: .75rem;
}

.p-around--small {
  padding: .75rem;
}

.p-top--medium {
  padding-top: 1rem;
}

.p-right--medium {
  padding-right: 1rem;
}

.p-bottom--medium {
  padding-bottom: 1rem;
}

.p-left--medium {
  padding-left: 1rem;
}

.p-vertical--medium {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-horizontal--medium {
  padding-right: 1rem;
  padding-left: 1rem;
}

.p-around--medium {
  padding: 1rem;
}

.p-top--large {
  padding-top: 1.5rem;
}

.p-right--large {
  padding-right: 1.5rem;
}

.p-bottom--large {
  padding-bottom: 1.5rem;
}

.p-left--large {
  padding-left: 1.5rem;
}

.p-vertical--large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-horizontal--large {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.p-around--large {
  padding: 1.5rem;
}

.p-top--x-large {
  padding-top: 2rem;
}

.p-right--x-large {
  padding-right: 2rem;
}

.p-bottom--x-large {
  padding-bottom: 2rem;
}

.p-left--x-large {
  padding-left: 2rem;
}

.p-vertical--x-large {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-horizontal--x-large {
  padding-right: 2rem;
  padding-left: 2rem;
}

.p-around--x-large {
  padding: 2rem;
}

.p-top--xx-large {
  padding-top: 3rem;
}

.p-right--xx-large {
  padding-right: 3rem;
}

.p-bottom--xx-large {
  padding-bottom: 3rem;
}

.p-left--xx-large {
  padding-left: 3rem;
}

.p-vertical--xx-large {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.p-horizontal--xx-large {
  padding-right: 3rem;
  padding-left: 3rem;
}

.p-around--xx-large {
  padding: 3rem;
}


/* -----------------------------------------------------------------------------
 * Text
 * -------------------------------------------------------------------------- */

/* Size */

.text-body--regular {
  font-size: .875rem;
}

.text-body--small {
  font-size: .75rem;
}

.text-heading--large {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
}

.text-heading--medium {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.25;
}

.text-heading--small {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.25;
}


/* Alignment */

.text-align--left {
  text-align: left;
}

.text-center,
.text-align--center {
  text-align: center;
}

.text-right,
.text-align--right {
  text-align: right;
}

.text-nowrap {
  white-space: nowrap;
}

.text-truncate {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-break {
  word-wrap: break-word;
  /* stylelint-disable no-unsupported-browser-features */
  overflow-wrap: break-word;
  hyphens: auto;
  /* stylelint-enable */
}


/* Transformation */

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}


/* Contextual colors */

.text-muted {
  color: var(--gray) !important;
}

.text-success {
  color: var(--brand-success) !important;

  @nest
    & a,
    & a:hover {
    color: var(--brand-success) !important;
  }
}

.text-info {
  color: var(--brand-info) !important;

  @nest
    & a,
    & a:hover {
    color: var(--brand-info) !important;
  }
}

.text-warning {
  color: var(--brand-warning) !important;

  @nest
    & a,
    & a:hover {
    color: var(--brand-warning) !important;
  }
}

.text-danger {
  color: var(--brand-danger) !important;

  @nest
    & a,
    & a:hover {
    color: var(--brand-danger) !important;
  }
}

.text-highlight {
  background-color: var(--highlight-color);
}


/* -----------------------------------------------------------------------------
 * Visibility
 * -------------------------------------------------------------------------- */

/* Hide Show */

.hide {
  display: none;
}

.show {
  display: block;
}

.show--inline-block {
  display: inline-block;
}


/* Hidden Visible */

.hidden,
[hidden] {
  display: none !important;
  visibility: hidden !important;
}

.visible {
  visibility: visible;
}


/* Collapsed Expanded */

.is-collapsed {
  height: 0;
  overflow: hidden;
}

.is-expanded {
  height: auto;
  overflow: visible;
}


/* -----------------------------------------------------------------------------
 * Utilities responsive
 * -------------------------------------------------------------------------- */

.hidden-xs-up {
  display: none !important;
}

@media (--max-xs) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (--min-sm) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (--max-sm) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (--min-md) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (--max-md) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (--min-lg) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (--max-lg) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (--min-xl) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}


/* -----------------------------------------------------------------------------
 * Miscs
 * -------------------------------------------------------------------------- */

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}
